<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="url" value="[add url here]"/>
  </appSettings>
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender, log4net">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%m %d [%t] %-5p %n" />
      </layout>
    </appender>
    <appender name="FileApender" type="log4net.Appender.RollingFileAppender, log4net">
      <file value="connectivity-tester-log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1000KB" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%m %d [%t] %-5p %n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileApender" />
    </root>
  </log4net>
</configuration>